.container{
border: 2px solid black;
background-color: khaki;
height: 3444px;
}

/* CSS Position: static (default), relative, absolute, fixed, sticky */

.box{
display: inline-block;
border: 2px solid red;
width: 150px;
height: 150px;
margin: 2px;
}

#box3{
/* relative: Positions the element relative to its normal positon and will leave a gap at its normal position*/
/* position: relative; */

/* absolute: Positions the element relative to the positon of its first parent*/
/* position: absolute; */

/* top: 34px;
left: 134px; */

/* fixed: Positions the element relative to the browser window; */
/* position: fixed;
right: 4px;
bottom: 2px */

/* sticky: Positions the element relative to the users scroll position */
position: sticky;
top: 3px;


}