.container{
display: flex;
}

.card{
border: 2px solid red;
margin: 23px 12px;
padding: 23px 12px;
background-color: cornsilk;

/* Box Shadow */

/* box-shadow: offset-x offset-y color; */
/* Shadow at right & bottom of box */
box-shadow: 10px 12px greenyellow;

/* Shadow at left and top of box */
box-shadow: -10px 12px greenyellow;

/* box-shadow: offset-x offset-y blur-radius color; */
box-shadow: 10px 12px 10px greenyellow;

/* box-shadow: offset-x offset-y blur-radius spread-radius color; */
box-shadow: 10px 12px 10px 7px greenyellow;

/* Multiple Shadow */
box-shadow: 10px 12px greenyellow, 20px 18px red;
}

.card h2{
/* Text Shadow */
text-shadow: 1px 2px rgb(230, 104, 104);
}